<h1>Meals#index</h1>

<% @meals.each do |meal| %>

<h2><%= meal.name %></h2>

<!-- <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  <%= meal.name %>
</div> -->

<% end %>
