.btn-light {
  color: #ffffff;
  font-weight: bold;
  background-color: #407B9D;
  border-radius: 5px;
  border-radius:15px !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-delete, .btn-edit {
  border-radius:15px !important;
}

.btn-edit {
  background-color: #A5D2E5;
  border: none;
  color: #808080;
}

.btn-delete {
  background-color: #E2001A;
  border: none;
}

.btn-edit:hover, .btn-details:hover {
  background-color: #A5D2E5;
  font-weight: bold;
}

.btn-delete:hover, .btn-cancel:hover {
  background-color: #E2001A;
  font-weight: bold;
  color: #ffffff;
}

.btn-cancel {
  background-color: #E2001A;
  border: none;
  color: #ffffff;
  border-radius:15px !important;
}

.btn-delivered {
  background-color: #407B9D;
  border: none;
  color: #ffffff;
  border-radius:15px !important;
  margin-right: 5px;
}

.btn-delivered:hover {
  font-weight: bold;
  background-color: #407B9D;
  color: #ffffff;
}

.btn-meal {
  color: #ffffff;
  background-color: #407B9D;
  border-radius:15px !important;
  border: none;
}

.btn-meal:hover {
  border: 1px solid #407B9D;
}

