.nav-link {
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  color: #407B9D;
}

.tab {
  padding-top: 20px;
  padding-left: 10px;
}

.tab-1 {
  margin-bottom: 20px;
  background-color:#F8F9FA !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 0.25rem;
  padding-top: 15px;
}

.box {
  margin-top: 20px;
}

.name {
 font-size: 20px;
 font-weight: bold;
 color: #407B9D;
}


.description, .price, .user, .status {
  font-size: 18px;
}

.description, .status {
  font-style: italic;
}

.dashboard {
  font-weight: lighter;
  padding-left: 10px;
  color: #407B9D;
}

.o {
  color: #E2001A;
}
