footer {
  background-color: #407B9D;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.footer-title {
  text-transform: uppercase;
}

footer ul {
  padding-top: 15px;
}

footer p {
  color: #ffffff;
  padding-top: 15px;
}

footer li {
   display: inline-block;
   padding: 15px;
}

.social-media-footer {
  color: #ffffff;
  font-size: 20px;
}

.social-media-footer:hover {
  color:#E2001A !important;
}

.logo-footer {
  width: 100px;
  margin-left: 5px;
  padding-bottom: 10px;
}
