.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}



// header {
//   height: 108vh;
//   background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.3) 50%),
//     url("../../../imgages/1.png") no-repeat;
//     background-size: cover;
//     background-position: center center;
//     position: relative;
//     margin-top: 70px;
// }
