.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  padding-top: 20px;

}

hr {
  width: 20px;
  margin-top: 5px;
}

.dashboard-navbar {
  color: #407B9D;
  font-weight: bold;
}

.dashboard-navbar:hover {
  text-decoration: none;
  font-weight: bold;
  color: #E2001A;
}

.sign-navbar {
  font-weight: bold;
  color:#000000 !important;
}

.sign-navbar:hover {
  text-decoration: none;
  color:#E2001A !important;
}
